@charset "UTF-8";

body, html { 
	font-family: Helvetica, Arial,sans-serif;
	font-size: 10pt;
}

#container { 
	position: absolute;
	width: 600px;
	left: 50%;
	margin-left: -300px;
}

#text {
	float: right; width: 300px;
}

#imgsmall {
	width: 140px;	
}

#chat {
	position: absolute;
	float: left;
	width: 280px;
	border-right: 1px solid black;
	padding-right: 10px;
}

#chatform textarea, #chatform select {
	margin-left: 0px;
}

#chattext {
	padding-bottom: 20px;	
}